include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include RELEASE.rst
include release.sh
include .coveragerc
include .editorconfig
include Makefile
include tox.ini
include *.py
include *.sh
include *.yml
include *.yaml
include *.txt
include *.ini
recursive-include docs *
recursive-include src *.html *.js *.css *.py
recursive-include tests *.html *.js *.css *.py
recursive-include examples *.py
recursive-include examples *.sqlite3
recursive-include examples *.txt
recursive-include examples *.ini

prune docs/_build
global-exclude *~
