name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Sync with tox.ini
        include:
        - python-version: 3.8
          django-version: 2.2.26
        - python-version: 3.8
          django-version: 3.0.14
        - python-version: 3.9
          django-version: 3.1.14
        - python-version: 3.9
          django-version: 3.2.11
        - python-version: 3.9
          django-version: 4.0.1
        - python-version: "3.10"
          django-version: 4.0.1
        - python-version: "3.10"
          django-version: 4.1.13
        - python-version: "3.11"
          django-version: 4.1.13
        - python-version: "3.11"
          django-version: 4.2.9
        - python-version: "3.12"
          django-version: 5.0
        - python-version: "3.13"
          django-version: "5.2.5"
        - python-version: "3.14"
          django-version: "6.0"
        - python-version: 3.8
          django-version: 3.2.23
          extra-run-args: --signed-cookies
        - python-version: 3.9
          django-version: 4.0.10
          extra-run-args: --signed-cookies
        - python-version: "3.10"
          django-version: 4.1.13
          extra-run-args: --signed-cookies
        - python-version: "3.11"
          django-version: 4.2.9
          extra-run-args: --signed-cookies
        - python-version: "3.12"
          django-version: 5.0
          extra-run-args: --signed-cookies

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} with uv
      uses: drivendataorg/setup-python-uv-action@main
      with:
        python-version: ${{ matrix.python-version }}
        cache: packages
        cache-dependency-path: >-
          pyproject.toml
    - name: Install dependencies
      run: |
        uv pip install Django==${{ matrix.django-version }}
        uv sync
    - name: Versions
      run: |
        firefox --version
        geckodriver --version | head -n 1
        google-chrome --version
        chromedriver --version
    - name: Tests
      run: |
        uv run pytest ${{ matrix.extra-run-args }}

  linters:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: drivendataorg/setup-python-uv-action@main
      with:
        python-version: 3.9
        cache: packages
        cache-dependency-path: >-
          pyproject.toml
    - name: Install dependencies
      run: |
        uv pip install pre-commit
    - name: pre-commit linters
      run:
        uv run pre-commit run --all-files --show-diff-on-failure --color=always
